/* common shared style */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Navbar related design are start */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 147px;
  margin: 0 200px;
}

.primary-text {
  color: #fd6e0a;
}

.btn-primary {
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  padding: 14px 36px;
  border-radius: 5px;
  transition: all 0.2s;
  background: #fd6e0a;
}

.btn-primary:hover {
  background: #ff8c3a;
}

/* Common class design */
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-discription {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 30px 0;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  line-height: normal;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
}

nav a {
  margin-right: 50px;
  font-size: 20px;
  font-weight: 400;
  color: #474747;
  transition: all 0.2s;
  text-decoration: none;
}

nav a:hover {
  color: #fd6e0a;
  text-decoration: underline;
}

/* Header design */
.header {
  background-color: #fff8f3;
  background-image: url(../assets/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 0 200px;
}

.banner-content {
  /* width: 50%; */
  max-width: 500px;
}

.banner .profile-pic {
  width: 500px;
}

.banner-greeting {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}

.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
}

.banner-dcp {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.contact-btn {
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
  background: none;
  margin-left: 20px;
}

.contact-btn:hover {
  background: none;
}

/* Main section design start here */
/* about section */
.about {
  /* margin: 230px; */
  margin: 130px 0;
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  /* width: 1140px; */
  /* height: 550px; */
}

.about-info {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.info-title {
  color: #757575;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.info-ab {
  color: #474747;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
